{% extends 'main.html' %}
{% block crud_container %}
    {% if user %}
        <article class="card container-fluid">
            <div class="card-body">
                <h5 class="card-title">Имя: {{ user.username }}</h5>
                <p class="card-text">Возраст: {{ user.age }}</p>
                <p class="card-text">ID: {{ user.id }}</p>
            </div>
        </article>
        <br>
    {% else %}
        <section class="container-fluid">
            <h2 align="center">Пользователи</h2>
            <br>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for user in users %}
                        <li class="list-group-item">
                            <a href="/users/{{ user.id }}">
                                {{ user.username }} (Возраст: {{ user.age }})
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endblock %}
